/* start style's code */
:root{
--font-family: 'vazir';
--spacing-base: 4px; 
/* colors */
--color-app-background: #f2f2f2;
--color-app-background-mid-dark: #fafafa;
--color-app-background-dark: #f5f5f5;
--color-transparent: transparent;
--color-ai-300: #2586ff;
--color-ai-400: #8f4aec;
--color-ai-500: #7f53ef;
--color-ai-700: #6000d9;
--color-ai-background: #ecedff;
--color-neutral-100: #f0f0f1;
--color-neutral-200: #e0e0e2;
--color-neutral-300: #c0c2c5;
--color-neutral-400: #a1a3a8;
--color-neutral-500: #81858b;
--color-neutral-600: #62666d;
--color-neutral-650: #424242;
--color-neutral-700: #3f4064;
--color-neutral-800: #23254e;
--color-neutral-850: #212121;
--color-neutral-900: #0c0c0c;
--color-neutral-000: #fff;
--color-dark-neutral-100: #323641;
--color-dark-neutral-200: #424650;
--color-dark-neutral-300: #525660;
--color-dark-neutral-400: #646770;
}
*{
box-sizing: border-box;
margin: 0;
padding: 0;

}
body{
text-decoration: none;
list-style-type: none;
font-size: 0.8rem;
font-family:'vazir';
}
a , ul ,li  , ol{
text-decoration: none;
list-style-type: none;
}
.container {
width: 100%;
padding:0 auto;
margin:0 auto;
}
/* start header's styles code from 56 to 255 */
/* navBar that consist of two part start from 57to 187 */
/* desktop part from 58to161 */
/* top navigation part  */
.navPart{
display:inline-block;
width:100%;
background-color: #fff;
position:sticky;
z-index: 10;
}
.topNav{
display: flex;
gap: 1rem;
align-items: center;
}
.dgkalaLogo{
margin-right: 2rem;
margin-top: 1rem;
}
.bi-search{
color: #81858b;
font-size: 1.5rem;
margin-right: 30rem;
margin-top: 1.5rem;
position: absolute;
z-index: 1;
}
.searchBox{
display: inline-block;
position: absolute;
font-size: 1rem;
width: 35rem;
height: 3rem;
margin-right: 28rem;
margin-top: 1.5rem;
padding-right:4rem;
border: none;
border-radius: 1rem;
background-color: #e0e0e2;
}
.logInPart{
display: flex;
width: 10rem;
height: 3.2rem;
align-items: center;
margin-right: 45rem;
margin-top: 1.5rem;
padding-right: 2rem;
gap: 0.2rem;
border: 1px solid #e0e0e2;
border-radius: 1rem;
}
.bi-box-arrow-in-right{
font-size: 1.5rem;
color: #333;
padding-top: 0.4rem;
}
.logIn{
font-family:'vazir';
font-size: 0.8rem;
font-weight: bolder;
text-align: center;
color: #212121;
}
.fistLink{
border-left: 1px solid #c6c7cf;
padding-left: 1px;
}
.bi-cart{
font-size: 1.5rem;
color: #333;
border-right: 1px solid #e0e0e2;
margin-right: -0.5rem;
margin-top: 1.5rem;
padding-right: 0.5rem;
}
/* bottom navigation part */
.bottomNav{
display:flex;
gap:1rem;
margin-top: 2rem;
margin-right:2.5rem ;
padding-bottom: 5px;
font-family:'vazir';
border-bottom:1px solid #c0c2c5;
}
.navigation{
display: flex;
}
.navMenu{
display: flex;
gap: 1rem;
color: #a1a3a8;
}
.navLink{
color: #62666d;
padding-right: 3px;
}
.navMenu:first-child {
border-right:1px solid #bfc1c5;
padding-right: 5px;
}
.navMenu .sixthChild{
border-right:1px solid #bfc1c5;
padding-right: 5px;  
}
.location{
margin-right: 10rem;
color: #212121;  
}
/* nav bottom phone from 167 to 189 that's display is none in desktop size and it will shown in phone size */
.navMenuPhone{
background-color: crimson;
display: flex;
flex-direction: column;
margin-right: -56rem;
padding-top: 1rem;
padding-bottom: 2rem;
width: 12rem;
gap: 2rem;
text-align: center;
display: none;
}
.firstlinkPhone{
font-weight: bolder;
color: #8f4aec;
border-bottom:2px solid #72f308;
padding-bottom: 1rem;
}
.navLinkPhone{
font-family:'vazir';
font-size: 1rem;
color: #fff;
}
/* start profile Part = from 191 to 210.  */
.profileMenu{
display: flex;
flex-wrap: nowrap;
gap: 1rem;
margin-top: 1rem;
align-items: center;
margin-right: 1rem;
}
.profileImage{
width:5rem;
border: 3px solid #6000d9;
border-radius: 100%;
padding: 2.5px;
}
.profilItems{
text-align: center;
font-size: 0.8rem;
padding-right: 1rem;

}
/* header Picture =212 to 256  */
.headerPicture{
background-image:url("../pictures/main\ background.avif");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin-top: 1rem;
height: 30rem;
width: 84rem;
border-radius:0 0 8rem 8rem;
box-shadow: 1px 1px 5px #302c2c;
}
.headerTitel{
    font-size: 2.5rem;
    color: #fff;
    padding-right: 5rem;
    padding-top: 2rem;
    text-shadow: 1px 2px 2px rgb(236, 231, 231);
}
.headerText{
    font-size: 1.2rem;
    width: 20rem;
    color: #ff0404;
    margin-right: 6rem;
    margin-top: 0.1rem;
    padding-right: 3rem;
    padding:1rem;
    text-align: center;
    border-radius:0 0 1rem 1rem ;
    text-shadow: 1px 2px 5px #302c2c;
}
.headerBtn{
    background-color: #fff;
    font-family:'vazir';
    font-size: 0.8rem;
    font-weight: bolder;
    color: #212121;
    border: none;
    margin-right: 14rem;
    margin-top: -1rem;
    width: 4rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow:1px 3px 7px #212121;
    
}
/* start  main Part consist of some part that is  from 255 to */
/* mainIcons consist of icons with their titels from 260 to  */
.mainIconsMenu{
position: relative;
display: flex;
gap: 0.5rem;
align-items: center;
justify-content: space-evenly;
margin-right: 2.5rem;
margin-top: 1rem;
}
.iconsLink{
display: flex;
font-family:'vazir';
font-size: 0.8rem;
color: #212121;
text-align: center;
font-weight: bolder;
padding-top: 0.2rem;
}
.iconsMainPart{
width: 4rem;
border: 2px solid #6000d9;
border-radius: 100%;
padding:0.1rem;
}
/* offer part from 284 to  */
.offerLogos{
display: flex;
flex-direction: column;
background-color: crimson;
width: 75rem;
height: 17rem;
margin:1rem 4rem;
padding:1rem 2rem 1rem;
border-radius: 2rem;
}
.timeBox{
font-size: 2rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
color:#fff;
word-spacing: 2px;
}
.mainLogoDgkala{
margin-left: 3rem;
width: 6.2rem;
}
/* offerPart album  */
.albumMenu{
display: flex;
gap: 1rem;
margin-top:-16rem ;
margin-right: 15rem;

}
.albumItem{
background-color: #fff;
width: 9rem;
height: 13rem;
padding: 0.5rem;
text-align: justify;
border-radius: 1rem;
box-shadow: 2px 3px 6px #302c2c;
}
.albumImage{
width: 8rem;
padding:0 1rem;
}
.albumText{
font-size: 0.7rem;
padding-bottom: 1rem;
}
.pricetext{
display: flex;
margin-right: 3rem;
font-family:'vazir';
font-weight: bold;
}
.offText{
display: inline-block;
position: absolute;
font-family:'vazir';
font-size: 0.8rem;
font-weight: bold;
background-color:crimson;
padding: 0.3rem;
border-radius: 0.8rem;
margin-top: -2.2rem;
color: #fff;
}
.delPrice{
    color: #646770;
}
.albumIcon{
    position: absolute;
    right: 74.5rem;
    margin-top: -9rem;
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 3px 7px #302c2c;
}







/* fonts */
@font-face {
font-family: 'vazir';
src: url('../fonts/vazir.eot') format('eot');
src : url('../fonts/vazir.ttf') format('truetype'),
url('../fonts/vazir.woff') format('woff'),
url('../fonts/vazir.woff2') format('woff2');
}
/* responsive Part */
@media screen and (max-width:578px){
.iconsLink{
display: none;
}
.mainIconsMenu{
flex-wrap: wrap;
}
.iconsMainPart{
width:70rem;
}
}
@media screen and (max-width:992px){

.bottomNav , .logInPart , .bi-cart , .profileMenu
,.albumText{
display: none;
}
.navMenuPhone{
display:inline-block;
}
.topNav{
margin-right: 5rem;
border-bottom: 1px solid #c6c7cf;
padding-bottom:1rem;
}
.dgkalaLogo{
width: 15rem;
margin-right: 11rem;
}
.searchBox{
width: 20rem;
}
.iconsMainPart{
width: 7rem;
}
.mainIconsMenu{
margin-right: 35rem;
}
.albumImage{
width: 9rem;
margin-bottom: 1.5rem;
}
}

